@import '../../styles/variables.scss';

.vehicles-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem 0;

  &__header {
    font-size: 1.5rem;
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;
    list-style: none;
  }
}

@media (max-width: 991.98px) {
  .vehicles-list {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 419.98px) {
  .vehicles-list {
    &__list {
      padding: 0 2rem;
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
