@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  color: $black;
  background-color: $white;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  min-height: 100vh;
  margin: 0 auto;
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  html {
    font-size: 14px;
  }

  .container {
    max-width: 720px;
  }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .container {
    max-width: auto;
    padding: 1rem;
  }
}
