@import '../../styles/variables.scss';

.footer {
  padding: 1rem 0;
  margin-bottom: 0;
  background-color: $primary-light;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    display: flex;
    gap: 0.5rem;
  }

  &__link {
    position: relative;
    text-decoration: none;
    color: $black;
    cursor: pointer;
    transition: 0.3s color ease;

    &:hover {
      color: $primary-dark;
    }
  }
}

@media (hover: none) {
  .footer__link:hover {
    color: $black;
  }
}
