@import '../../styles/variables.scss';

$save-img: url('../../assets/save.svg');
$edit-img: url('../../assets/edit.svg');
$delete-img: url('../../assets/delete.svg');

.vehicle-card {
  padding: 1rem;
  outline: 2px solid $primary;
  border-radius: 1rem;

  input {
    font-size: 1rem;
    color: $black;
    border: none;

    &.edit {
      outline: 2px solid $primary;
      border-radius: 2px;
      cursor: pointer;

      &:focus {
        outline: 2px solid $primary-dark;
      }
    }
  }

  &__title {
    display: block;
    margin: 0 auto;
    font-weight: 700;
    text-align: center;
  }

  &__divider {
    margin-top: 0.5rem;
    height: 3px;
    width: 100%;
    background-color: $primary;
    border-radius: 2px;
  }

  &__description {
    overflow-wrap: anywhere;
    margin-top: 0.5rem;

    &-item {
      display: flex;
      margin-top: 0.5rem;
    }

    &-category {
      width: 150px;
      font-weight: 700;
    }

    &-value {
      flex: 1;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    outline: 2px solid $primary;
    border-radius: 2px;
    border: none;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 0.25s transform;

    &:hover {
      transform: scale(1.2);
    }
  }
}
