@import '../../styles/variables.scss';

.vehicle-card {
  padding: 1rem;
  outline: 2px solid $primary;
  border-radius: 1rem;

  input {
    width: calc(100% - 150px);
    font-size: 1rem;
    color: $black;
    border: none;

    &.edit {
      outline: 2px solid $primary;
      border-radius: 2px;
      cursor: pointer;

      &:focus {
        outline: 2px solid $primary-dark;
      }
    }
  }

  &__title {
    display: block;
    margin: 0 auto;
    font-weight: 700;
    text-align: center;

    &.input {
      width: 100%;
    }
  }

  &__divider {
    margin-top: 0.5rem;
    height: 3px;
    width: 100%;
    background-color: $primary;
    border-radius: 2px;
  }

  &__description {
    overflow-wrap: anywhere;
    margin-top: 0.5rem;

    &-item {
      display: flex;
      margin-top: 0.5rem;
    }

    &-category {
      width: 150px;
      font-weight: 700;
    }

    &-value {
      flex: 1;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }

  &__button {
    width: 2.5rem;
    height: 2.5rem;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      transform: scale(1.2);
    }
  }
}

@media (hover: none) {
  .vehicle-card__button:hover {
    transform: none;
  }
}
